
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 left">
    <ul>
        <li><a routerLink="/notifications" routerLinkActive="active">Notifications</a></li>
        <li><a routerLink="/buying" routerLinkActive="active">Buying</a></li>
        <li><a routerLink="/selling" routerLinkActive="active">Selling</a></li>
        

    </ul>
</div>
<div class="col-md-6"><router-outlet><p>Notification works!</p></router-outlet></div>
<div class="col-md-3"></div>
</div>
</div>
