ul li{
    list-style-type: none;

}
li a{
    text-decoration: none;
    color:black;
    font-size: larger;
    
}
.row{
    height:2500px;

}
.left{
    background-color: turquoise;
    
    overflow: scroll;

}